.u-section-1 {
  background-image: url("images/e4.jpg");
  background-position: 50% 50%;
  min-height: 740px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 740px;
}

.u-section-1 .u-container-layout-1 {
  padding: 60px 0 60px 50px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: "PT Sans", sans-serif;
  margin: 65px 38px 0 -38px;
}

.u-section-1 .u-text-2 {
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  margin: 47px 47px 0 -47px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-style: italic;
  margin: 13px 58px 0 -43px;
}

.u-section-1 .u-text-4 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 81px 72px 0 -50px;
}

.u-section-1 .u-image-1 {
  min-height: 691px;
  background-image: url("images/xx-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 480px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 610px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
    margin-top: 19px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 6px;
    margin-right: 82px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 76px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 570px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 307px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 467px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 411px;
    background-position: 32.77% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 604px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 481px;
    order: 1;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px 50px 60px 10px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.5rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 634px;
    order: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 50px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 369px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 465px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.4375rem;
  }

  .u-section-1 .u-text-3 {
    margin-top: 18px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 64px;
  }

  .u-section-1 .u-image-1 {
    min-height: 478px;
    background-position: 36.67% 50%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }
}.u-section-2 {
  background-image: url("images/-min1.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 740px;
}

.u-section-2 .u-text-1 {
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  width: 627px;
  margin: 63px auto 0;
}

.u-section-2 .u-text-2 {
  margin: 91px auto 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: -10px auto 0;
}

.u-section-2 .u-icon-1 {
  font-size: 1.3em;
  width: 18px;
  height: 24px;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 48px auto 0;
  padding: 10px 37px 10px 36px;
}

.u-section-2 .u-icon-2 {
  font-size: 1.3em;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 48px auto 0;
}

.u-section-2 .u-icon-3 {
  font-size: 1.3em;
}

.u-section-2 .u-text-3 {
  margin: 161px auto 0;
}

.u-section-2 .u-btn-4 {
  border-style: none none solid;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 {
    background-position: 50% 100%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 612px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -296px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 773px;
    padding: 1px 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 537px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    background-position: 0% 27.06%;
    background-size: auto 115%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 403px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    background-position: 0.67% 0%;
    background-size: auto 130%;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 418px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    width: 340px;
    margin-top: 520px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -185px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 684px;
  }
}.u-section-3 {
  background-image: linear-gradient(0deg, rgba(71,138,201,0.4), rgba(71,138,201,0.4)), url("images/s-min1.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 832px;
}

.u-section-3 .u-text-1 {
  width: 278px;
  margin: 87px auto 0;
}

.u-section-3 .u-list-1 {
  min-height: 189px;
  grid-template-columns: 100%;
  height: auto;
  width: 1112px;
  grid-gap: 10px 10px;
  margin: 64px 0 0 auto;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: -94px auto 0 76px;
}

.u-section-3 .u-icon-1 {
  font-size: 1.3em;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: -53px auto 0 449px;
  padding: 10px 32px;
}

.u-section-3 .u-icon-2 {
  font-size: 1.3em;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: -53px 99px 0 auto;
  padding: 10px 35px 10px 34px;
}

.u-section-3 .u-icon-3 {
  font-size: 1.3em;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  margin: -129px 707px 0 28px;
}

.u-section-3 .u-shape-1 {
  width: 362px;
  height: 16px;
  margin: -2px auto 60px 64px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 686px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 137px;
  }

  .u-section-3 .u-list-1 {
    min-height: 418px;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    margin-top: 29px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-btn-1 {
    margin-top: -161px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-top: -60px;
    margin-left: 249px;
  }

  .u-section-3 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 535px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 221px;
  }

  .u-section-3 .u-list-1 {
    margin-top: -55px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 29px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 315px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 394px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 295px;
  }

  .u-section-3 .u-list-1 {
    margin-top: -116px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 135px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 248px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 635px;
  }

  .u-section-3 .u-list-1 {
    grid-template-columns: 100%;
    margin-top: -494px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-shape-1 {
    width: 340px;
    margin-left: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1099px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  margin: 56px auto 0 0;
}

.u-section-4 .u-line-1 {
  width: 65px;
  height: 3px;
  transform-origin: left center;
  margin: 20px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  margin: 20px 620px 0 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 36px 0 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 396px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 13px auto 0;
}

.u-section-4 .u-text-3 {
  margin: 20px auto 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 29px 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 248px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 186px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 395px;
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-4 .u-text-6 {
  margin: 20px auto 0;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

.u-section-4 .u-layout-cell-5 {
  min-height: 141px;
}

.u-section-4 .u-container-layout-5 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-6 {
  min-height: 249px;
}

.u-section-4 .u-container-layout-6 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-7 {
  min-height: 453px;
}

.u-section-4 .u-container-layout-7 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: 0 auto;
}

.u-section-4 .u-text-7 {
  margin: 20px auto 0;
}

.u-section-4 .u-text-8 {
  margin: 20px auto 0;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 986px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 380px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 327px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 23px;
    margin-right: 23px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 204px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 153px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 326px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 116px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 205px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 374px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2207px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 160px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 234px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 176px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 133px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 471px;
  }

  .u-section-4 .u-layout-cell-7 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1744px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-left: 51px;
    margin-right: 51px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 351px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 264px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 200px;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 353px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1274px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 221px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 166px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-4 .u-layout-cell-5 {
    min-height: 126px;
  }

  .u-section-4 .u-layout-cell-6 {
    min-height: 222px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 25px;
    padding-right: 25px;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 705px;
}

.u-section-5 .u-text-1 {
  width: 570px;
  font-weight: 700;
  font-size: 3.75rem;
  margin: 70px auto 0;
}

.u-section-5 .u-shape-1 {
  width: 981px;
  height: 357px;
  margin: 25px auto 0;
}

.u-section-5 .u-icon-1 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: -274px auto 0 275px;
}

.u-section-5 .u-icon-2 {
  height: 96px;
  width: 96px;
  background-image: none;
  margin: -96px 265px 0 auto;
}

.u-section-5 .u-text-2 {
  margin: 17px 588px 0 94px;
}

.u-section-5 .u-text-3 {
  margin: -50px 80px 0 602px;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -10px auto 0 246px;
}

.u-section-5 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -42px 236px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-shape-1 {
    width: 940px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 482px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
    margin-left: 482px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 46px;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 36px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-shape-1 {
    width: 720px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 262px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 262px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    width: 540px;
  }

  .u-section-5 .u-shape-1 {
    width: 540px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 82px;
  }

  .u-section-5 .u-text-3 {
    margin-left: 82px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    width: 340px;
    font-size: 3rem;
  }

  .u-section-5 .u-shape-1 {
    width: 340px;
  }

  .u-section-5 .u-icon-1 {
    margin-left: 244px;
  }

  .u-section-5 .u-icon-2 {
    margin-right: 244px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
  }
}